{% extends "base.html" %}


{% block content %}

    <!-- Contact Start -->
    <div class="container-fluid text text-center">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span
                class="bg-white pr-3">User Register/Login</span></h2>
        <h6 class="tex text-warning">!if you have an account you're gonna loin!</h6>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="control-group">
                            {% for error in form.phone.errors %}
                                <p class="alert alert-danger">{{ error }}</p>
                            {% endfor %}
                            {{ form.phone }}
                        </div>
                        <hr>
                        <div>
                            <button class="btn btn-warning py-2 px-4" type="submit" id="sendMessageButton">Register/login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    {% include "includes/js_references.html" %}
{% endblock %}